*.suo

RefactoringCode/RefactoringCode/bin
RefactoringCode/RefactoringCode/obj
RefactoringCode/RefactoringCode/.vs
RefactoringCode/RefactoringCode/DesignPattern/obj
RefactoringCode/RefactoringCode/RefactoringCode/obj